.widget {
  border-radius: 4px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
  border: solid 1px #edeff5;
  background-color: rgba(255, 255, 255, 0.95);
}

.header {
  border-bottom: solid 1px #edeff5;
  padding: 9px 20px;
  text-transform: uppercase;
  color: #c6c8d8;
}